
Projeto/verificador_plagio/.idea/

Projeto/verificador_plagio/frontend/__pycache__/

Projeto/verificador_plagio/frontend/node_modules/

Projeto/verificador_plagio/api/__pycache__/

Projeto/verificador_plagio/api/data_manipulation/__pycache__/
