
Projeto/verificador_plagio/.idea/

Projeto/verificador_plagio/frontend/__pycache__/

Projeto/verificador_plagio/frontend/node_modules/

Projeto/verificador_plagio/api/__pycache__/

Projeto/verificador_plagio/api/data_manipulation/__pycache__/

Projeto/testes_codigo/ARQTESTEverificador_plagio/.idea/

Projeto/testes_codigo/ARQTESTEverificador_plagio/api/__pycache__/

Projeto/testes_codigo/ARQTESTEverificador_plagio/frontend/__pycache__/

Projeto/testes_codigo/ARQTESTEverificador_plagio/frontend/node_modules/.bin/

Projeto/testes_codigo/ARQTESTEverificador_plagio/frontend/node_modules/

Projeto/testes_codigo/ARQTESTEverificador_plagio/frontend/migrations/__pycache__/

Projeto/testes_codigo/ARQTESTEverificador_plagio/node_modules/
