# Env
Projeto/detectorplagio/envdetectorplagio

# IDE
Projeto/detectorplagio/detectorplagio_remoto/.idea
Projeto/detectorplagio/detectorplagio_local/.idea
Projeto/.idea
Projeto/detectorplagio/detectorplagio_local/api/analyse_flags
Projeto/detectorplagio/detectorplagio_remoto/api/analyse_flags